body {
	font-family: 'Verdana', sans-serif;
	margin: 0;
	padding: 0;
}

.background {
	width: 100vw;
	height: 100vh;
	background-image: url('background.png');
	background-repeat: repeat;
	position: relative;
	z-index: 1;
}

.banner {
	background-image: url('banner.png');
	background-repeat: no-repeat;
	width: 974px;
	height: 50px;
/*	center banner*/
	display: flex;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 3;
}

.banner-background {
	background-image: url(bannerbackground.png);
	width: 100vw;
	height: 50px;
	position: absolute;
	z-index: 2;
}

.movie-title {
	top: 70px;
	width: 100%;
	font-size: 24pt;
	font-weight: bold;
	margin: 0 auto 0;
	text-align: center;
	position: relative;
	z-index: 2;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: auto;
/*	top horizontal bottom*/
	margin: 90px auto 0;
	border: 4px solid gray;
	position: relative;
	z-index: 2;
}

.main-content {
	display: flex;
	flex-direction: row;
/*	width: 800px;*/
	height: auto;
/*	top horizontal bottom*/
/*	margin: 90px auto 0;*/
/*	border: 4px solid gray;*/
	position: relative;
	z-index: 2;
}

.rotten-banner {
	width: 550px;
	height: auto;
	background-image: url('rottenbackground.png');
	background-repeat: repeat-x;
	position: relative;
	z-index: 2;
	display: flex-start;
	flex-direction: row;
	align-items: center;
}

.rotten-rating {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.rating {
	font-size: 48pt;
	font-weight: bold;
	color: red;
}

.total-reviews {
	font-size: 8pt;
	color: white;
	margin-bottom: 10px;
}

.reviews-container {
	display: flex;
	margin-top: 2%;
}

.review-column {
	width: 47%;
	display: flex;
	flex-direction: column;
	margin-right: 2%;
}

.review-column:first-child {
	margin-left: 2%;
}

.review {
	background-color: #E1D697;
	border: 2px solid gray;
	padding: 8px;
}

.review-icon {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.review-text {
	font-size: 8pt;
	font-weight: bold;
}

.reviewer-info {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.critic-icon {
	width: 35px;
	height: 33px;
	margin-right: 5px;
}

.reviewer-details {
	display: flex;
	flex-direction: column;;
}

.reviewer-name {
	font-size: 8pt;
}

.publication {
	font-size: 8pt;
	font-style: italic;
}

.general-overview {
	width: 250px;
	background-color: #A2B964;
}

.general-content {
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding: 10px;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	margin-top: 10px;
}

dt:first-child {
	margin-top: 0;
}

a {
	font-size: 8pt;
	color: blue;
}

.review-bar {
	background-color: #A2B964;
	text-align: center;
	width: auto;
	padding: 5px;
	font-size: 8pt;
}

.validator-links {
	position: fixed;
	bottom: 20px;
	right: 20px;
}